<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rpi.ghoul.rpiconnect">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckStatus"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rpi.ghoul.rpiconnect.MainActivity" />
        </activity>
        <activity
            android:name=".MusicController"
            android:parentActivityName=".CheckStatus">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rpi.ghoul.rpiconnect.CheckStatus" />
        </activity>

        <activity
            android:name=".LiveStreaming"
            android:parentActivityName=".CheckStatus">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rpi.ghoul.rpiconnect.CheckStatus" />
        </activity>

        <service android:name=".SSHConnection" />


    </application>

</manifest>